.customOrder-wrapper {
  width: 95%;
  margin: auto;
}

.customOrder-fields-wrapper {
  margin-right: 0.6rem;
  margin-bottom: 2rem;
}

.customOrder-flex-wrapper {
  display: flex;
  gap: 2rem;
  font-size: large;

  input {
    text-align: center;
    font-size: medium;
  }
}

.customOrder-select-product-input {
  width: 400px;
}

.customOrder-products-dropdown {
  position: absolute;
  z-index: 100;
  max-height: 350px; /* Control the height */
  overflow-y: auto; /* Scroll when the list is too long */
  border: 1px solid #ccc;
  background-color: #242424;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: calc(100% - (99.7% - 400px));
}

.customOrder-products-dropdown-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    cursor: pointer;
    padding: 0.55rem;
  }

  li:hover {
    background-color: #323131;
  }
}
