.header-wrapper-admin {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  column-gap: 5rem;
  flex-wrap: wrap;
  border: none;

  > a {
    flex-grow: 0.5;
    cursor: pointer;
    border-bottom: 1px solid white;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
  }

  > a:hover {
    background-color: #33373f;
    border-bottom: 1px solid red;
  }
}

.admin-page-header-link-active {
  background-color: #33373f;
  border-bottom: 1px solid red;
}
