.header-wrapper-admin {
  text-align: center;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  column-gap: 5rem;
  flex-wrap: wrap;
  border: none;

  > a {
    flex-grow: 0.5;
    cursor: pointer;
    border-bottom: 1px solid white;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
  }

  > a:hover {
    background-color: #33373f;
    border-bottom: 1px solid red;
  }
}
