.servingTableActions-wrapper {
  width: 150px;
}

.servingTableActions-flex-wrapper {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
  border: 1px solid white;

  button {
    width: 125px;
    height: 100px;
    border: 1px solid white;
    cursor: pointer;
    background-color: antiquewhite;
    color: black;
    text-align: center;
  }

  button:hover {
    background-color: rgba(250, 235, 215, 0.805);
  }
}

.servingTableActions-disabled-button {
  background-color: gray !important;
  cursor: default !important;
}

.servingTableActions-disabled-button-payOrder {
  background-color: rgb(185, 133, 133) !important;
  cursor: default !important;
}
