.chargeTable-disbale-bg-interactive {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.chargeTable-wrapper {
  position: fixed;
  width: 600px;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(243, 238, 238);
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: black;
  pointer-events: auto;
  z-index: 9999;
}

.chargeTable-tableOrders {
  margin-top: 1.3rem;
  border: 1px solid lightgray;
  border-radius: 8px;
  max-height: 270px;
  min-height: 270px;
  overflow-y: auto;
  background-color: white;
  padding: 1rem 1rem 0 1rem;

  li {
    padding: 0.5rem;
  }
}

.chargeTable-tableOrders-list-item {
  background-color: rgb(238, 236, 236);
  border-radius: 8px;
  padding: 1rem 0 0 1rem;
}

.chargeTable-paragraph-decor {
  font-weight: bold;
  font-size: 1.3rem;
}

.chargeTable-tablePrice-details-wrapper {
  background-color: white;
  margin-top: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  row-gap: 1.5rem;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
    }

    input {
      background-color: white;
      text-align: right;
      color: black;
      font-size: large;
      border-radius: 0.3rem;
      width: 20%;
    }
  }
}

.chargeTable-tablePrice-details-div-divider {
  width: 100%;
  border: 1px solid lightgray;
}

.chargeTable-footer-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;

  button {
    width: 20%;
    height: 30px;
    border-radius: 8px;
    font-size: 1.05rem;
    font-weight: 540;
  }

  > button:last-child {
    background-color: rgb(236, 233, 233);
    color: black;
  }

  > button:disabled {
    background-color: rgb(190, 187, 187);
    color: rgb(241, 237, 237);
  }
}
